<a href="https://colab.research.google.com/github/song-pongpanit/Tweets/blob/main/NLP_tweets.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Import data

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [4]:
train = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/nlp-getting-started/train.csv')
test = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/nlp-getting-started/test.csv')
submiss = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/nlp-getting-started/sample_submission.csv')

In [14]:
print('Shape of training set : ' , train.shape)
print('Shape of test set : ' , test.shape)
print('Shape of submission set : ' , submiss.shape)

Shape of training set :  (7613, 5)
Shape of test set :  (3263, 4)
Shape of submission set :  (3263, 2)

In [16]:
train.head()

,id,keyword,location,text,target
0,1,NaN,NaN,Our Deeds are the Reason of this #earthquake M...,1
1,4,NaN,NaN,Forest fire near La Ronge Sask. Canada,1
2,5,NaN,NaN,All residents asked to 'shelter in place' are ...,1
3,6,NaN,NaN,"13,000 people receive #wildfires evacuation or...",1
4,7,NaN,NaN,Just got sent this photo from Ruby #Alaska as ...,1

In [17]:
test.head()

   id keyword location                                               text
0   0     NaN      NaN                 Just happened a terrible car crash
1   2     NaN      NaN  Heard about #earthquake is different cities, s...
2   3     NaN      NaN  there is a forest fire at spot pond, geese are...
3   9     NaN      NaN           Apocalypse lighting. #Spokane #wildfires
4  11     NaN      NaN      Typhoon Soudelor kills 28 in China and Taiwan

In [18]:
submiss.head()

   id  target
0   0       0
1   2       0
2   3       0
3   9       0
4  11       0

# Data Preprocessing : train

In [15]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7613 entries, 0 to 7612
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   id        7613 non-null   int64
 1   keyword   7552 non-null   object
 2   location  5080 non-null   object
 3   text      7613 non-null   object
 4   target    7613 non-null   int64
dtypes: int64(2), object(3)
memory usage: 297.5+ KB